.form {
  padding: 100px 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .form {
    padding: 50px 25px;
  }
} 

form {
  width: 650px;
}

@media (max-width: 576px) {
  form {
    width: 100%;
  }
}

.form__text-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  width: 100%;
  margin-bottom: 25px;  
}

.input__small {
  width: 48%
}

@media (max-width: 576px) {
  .input__small {
    width: 100%;
  }
}

textarea {
  width: 100%;
  height: 150px;
}

input, textarea {
  background-color: rgba(216, 216, 216, 0.2);
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: block;
}

.form__radio-input {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .form__radio-input {
    flex-direction: column;
    align-items: flex-start;
  }
} 

.form__radio-input p {
  padding-right: 10px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .form__radio-input p {
    padding-right: 0;
  }
}

form label {
  font-size: 16px;
  font-weight: 100;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

@media (max-width: 576px) {
  form label {
    padding-right: 0;
  }
}

label input[type=radio] {
  width: auto;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 0;
}

.form__button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.form__button button {
  background: #15bae6;
  border-radius: 40px;
  color: black;
  border: none;
  padding: 7px 50px;
  cursor: pointer;
}

.form__button button:disabled {
  background: gray;
  cursor: not-allowed;
}