.cta-section {
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  background: url('../../images/bg-paketa-entraremcontato.svg');
  background-size: cover;
  background-position: right;
  align-items: center;
}

@media (min-width: 1600px) {
  .cta-section {
    padding: 100px 300px;
  }
}

@media (min-width: 1800px) {
  .cta-section {
    padding: 100px 400px;
  }
}

@media (max-width: 1112px) {
  .cta-section {
    padding: 100px;
  }
}

@media (max-width: 576px) {
  .cta-section {
    padding: 50px 25px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

.cta-section__text {
  padding-right: 50px;
  max-width: 70%;
}

@media (max-width: 834px) and (min-height: 1112px) {
  .cta-section__text {
    max-width: 60%;
  }
}

@media (max-width: 768px) and (min-height: 1024px) {
  .cta-section__text {
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .cta-section__text {
    max-width: 100%;
    padding-right: 0;
  }
}

.cta-section__text h3, .cta-section--steps p {
  margin-bottom: 0;
  text-align: left;
}

@media (max-width: 576px) {
  .cta-section__text h3 {
    text-align: center;
  }
}