.success {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success__test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #15bae6;
}