.card {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 15px;
}

.card p {
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .card {
    padding: 20px 15px;
  }
}

@media (max-width: 375px) {
  .card {
    padding: 15px 10px;
  }
}

.card__image img {
  max-width: 100px;
  margin-bottom: 0;
}

@media (max-width: 320px) {
  .card__image img {
    max-width: 80px;
  }
}